.qna-page {
  text-align: center;
}

.title {
  margin: 0;
  padding: 20px;
}

.ask-button {
  margin: 20px auto; 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block; 
  max-width: 200px;
}

.questions-table {
  margin-top: 20px;
  width: 80%; 
  margin-left: auto; 
  margin-right: auto; 
}

.questions-table table {
  width: 100%;
  border-collapse: collapse;
}

.questions-table th,
.questions-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.questions-table th {
  background-color: #f2f2f2;
}

.questions-table td.clickable-title {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
